.border {
  border: 1px solid #bdbdbd;
  border-radius: 16px;
  width: 640px;
  height: 360px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 360px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.border p {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-top: 24px;
}

.border img {
  width: 175px;
}

@media (max-width: 450px) {
  .border {
    height: 217px;
  }

  .border img {
    width: 106px;
  }
}

.room_name {
  color: #bdbdbd;
  font-size: 16px;
  font-weight: 400;
}
